body,
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}

body {
    background: url("../../images/bg/main-bg.jpg") no-repeat center;
    background-size: cover;
}

* {
    outline: none !important;
    text-decoration: none !important;
}

div {}

.justify-wrap {
    text-align: justify;
    text-justify: newspaper;
    font-size: 0;
}

.empty-span {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 0;
}

.pr0 {
    padding-right: 0 !important;
}

.pl0 {
    padding-left: 0 !important;
}

.m0 {
    margin: 0 !important;
}

.no-right-margin {
    margin-right: 0;
}

.Select-control {
    border-radius: 0 !important;
}

.Select-menu-outer {
    border-radius: 0 !important;
}

.Select--multi .Select-value-icon {
    border-right-color: black !important;
    border-radius: 0 !important
}

.Select--single>.Select-control .Select-value, .Select-placeholder {
    color: black !important;
}

.Select--multi .Select-value-label {
    border-radius: 0 !important;
}

.Select-value {
    border-color: black !important;
    background-color: white !important;
}

.Select--multi .Select-value {
    color: black !important;
}

.no-left-margin {
    margin-left: 0;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-width: 320px;
    min-height: 100%;
}

.content {
    padding-bottom: 300px;
    padding-top: 55px;
}

.logo {
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    width: 126px;
}

.logo img {
    display: block;
    width: 100%;
}

.required-field:after {
    position: absolute;
    /* background: url("../../images/elements/req-icon.png") no-repeat; */
    width: 8px;
    height: 8px;
    content: '';
    bottom: 22px;
    right: 20px;
}

.border-btn {
    border: 2px solid rgba(255, 255, 255, 0.25);
}

.border-btn:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    color: #fff !important;
    background: transparent;
}

.other-actions {
    margin-top: 28px;
}

.enter-form {
    max-width: 380px;
}

.actions-text {
    color: #fff;
    font: 13px 'Century Gothic';
    letter-spacing: 0.075em;
}

.params-section {
    margin-top: 20px;
}

.params-section ul {
    font: 16px/28px 'Century Gothic';
    color: #888888;
    margin-top: 5px;
    margin-left: 17px;
}

.datepicker {
    font-family: 'Century Gothic';
    background: rgba(34, 34, 34, 0.9);
}

a,
textarea,
    {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

@media (min-width: 1230px) {
    .container {
        width: 1200px;
    }
}

@media screen and (max-width: 1199px) {
    .nowrap-md {
        max-width: 115px;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

    .content {
        padding-bottom: 0;
    }

    body,
    html {
        min-height: 0;
        height: 100%;
    }
}

@media screen and (max-width: 991px) {
    .nowrap-sm {
        display: block;
        max-width: 65px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    body {
        background: url("../../images/bg/main-bg-2.jpg") no-repeat center top;
        background-size: cover;
    }

    .enter-form {
        margin: 0 auto;
        width: 380px;
        max-width: 100%;
    }

    .logo {
        top: 20px;
        position: absolute;
    }

    .content {
        padding-top: 15px;
    }

    .other-actions {
        margin-top: 15px;
    }

    .required-field:after {
        bottom: 16px;
        right: 10px;
    }

    .params-section ul {
        font: 13px/20px 'Century Gothic';
    }
}

.actionNew {
    display: block;
    height: 200px;
}

.actionNew>.col-sm-3.col-xs-12 {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.help-block.passwordDescription {
    font: 15px 'Century Gothic';
}

@media screen and (max-width: 767px) {
    body {
        background-attachment: fixed;
    }
}

.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.example-leave {
    opacity: 0;
}

.example-leave.example-leave-active {
    opacity: 0;
}

.invalid {
    border-color: #ff0000 !important;
}

.sourceFilterRow {
    padding: 4px;
}

.paddedBottom {
    padding-bottom: 20px;
}