
.labels-form form {
    /* padding-right: 190px; */
    position: relative;
}

.labels-form button {
    /* width: 170px;
    padding: 0;
    right: 0;
    top: 0;
    position: absolute; */
}

@media screen and (max-width: 991px) {

    /* .labels-form form {
        padding-right: 180px;
    } */
}

@media screen and (max-width: 767px) {

    /* .labels-form form {
        padding-right: 0;
    } */

    .labels-form button {
        width: 100%;
        position: relative;
    }

}
